.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

iframe {
    border: none;
    background-color: rgb(173, 221, 240);

}

.card-registration .select-arrow {
    top: 13px;
}

.label {
    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;
}

h1 {
    text-align: center;
    margin: top 20px;
    text-decoration: underline;
}

.select {
    height: 50px;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;

}

#higher_12 {
    display: none;
}

#diploma1 {
    display: none;
}

.form-check label {
    margin: 0 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px 10px;
}
.grid-item {
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 1px;

}

.form-control-lg {
    font-size: 16px;
}

p {
    font-size: small;
}

.mt-4-pt-2 {
    text-align: center;
    color: rgb(1, 1, 34);
    margin-top: 20px;
}


.btn-btn-primary-btn-lg {
    background-color: rgb(102, 209, 252);
    height: 40px;
    width: 90px;
    border-radius: 14px;
    font-size: larger;
    border: 0px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-btn-primary-btn-lg:hover {
    background-color: rgb(55, 193, 248);
}

.btn-change-course {
    background-color: rgb(102, 209, 252);
    padding: 5px 7px;
    border-radius: 14px;
    border: 0px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-change-course:hover {
    background-color: rgb(55, 193, 248);
}

@media (min-width: 1200px) {
    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 100%;
        max-width: 90%;
    }

    .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form-control-lg {
        width: 250px;
    }

    .col-md-6 {
        width: 100%;
    }

}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.interest-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 652px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1.2fr;
        padding: 0;
    }

    .grid-item label {
        font-size: 12px;
    }
}
@media screen and (max-width:370px) {
    .grid-item label {
        font-size: 8.5px;
    }
}
@media (min-width: 1200px) {
    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 100%;
        max-width: 90%;
    }

    .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form-control-lg {
        width: 250px;
    }

    .col-md-6 {
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 5px 10px;
    }
}

@media screen and (min-width:1201px) {
    
    #frame_agri iframe {
        height: 160px;
    }

    #frame_pharma iframe {
        height: 210px;
    }

    #frame_para iframe {
        height: 220px;
    }

    #frame_computer iframe {
        height: 210px;
    }

    #frame_finance iframe {
        height: 260px;
    }

    #frame_admin iframe {
        height: 170px;
    }

    #frame_tech iframe {
        height: 470px;
    }
}

@media screen and (max-width:1200px) {
    #frame_agri iframe {
        height: 310px;
    }

    #frame_pharma iframe {
        height: 320px;
    }

    #frame_para iframe {
        height: 360px;
    }

    #frame_computer iframe {
        height: 330px;
    }

    #frame_finance iframe {
        height: 410px;
    }

    #frame_admin iframe {
        height: 220px;
    }

    #frame_tech iframe {
        height: 830px;
    }
}

@media screen and (max-width:800px) {
    #frame_pharma iframe {
        height: 340px;
    }
    #frame_admin iframe {
        height: 260px;
    }
    #frame_para iframe {
        height: 380px;
    }
    
    #frame_tech iframe {
        height: 830px;
    }

    #frame_finance iframe {
        height: 660px;
    }
}

@media screen and (max-width:600px) {
    #frame_agri iframe {
        height: 330px;
    }

    #frame_pharma iframe {
        height: 310px;
    }

    #frame_para iframe {
        height: 380px;
    }

    #frame_computer iframe {
        height: 560px;
    }

    #frame_finance iframe {
        height: 450px;
    }

    #frame_admin iframe {
        height: 290px;
    }

    #frame_tech iframe {
        height: 830px;
    }
}
@media screen and (max-width:500px) {
    #frame_admin iframe {
        height: 410px;
    }
    #frame_agri iframe {
        height: 380px;
    }
    #frame_para iframe {
        height: 630px;
    }
    #frame_pharma iframe {
        height: 560px;
    }
    #frame_finance iframe {
        height: 710px;
    }
    
}
@media screen and (max-width:540px) {
    #frame_tech iframe {
        height: 1600px;
    }
}