{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>college recommended system</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/cities.js"></script>
  <style>
  </style>
</head>

<body>
  <section class="gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px; ">
            <div class="card-body p-4 p-md-5">
              <form id="form" action="/submit_form" method="post">

                <div class="row row1 row2" style="padding:0 0 20px 0;">
                  <div class="col-md-6">

                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="fullName">Full Name</label>
                      <input type="text" id="fullName" class="form-control form-control-lg" name="Full_name" pattern="[A-Za-z][A-Za-z\s]*" title="Name should not contain digits." required />
                      <div id="nameError" class="text-danger"></div>
                    </div>

                  </div>
                  <div class="col-md-6">

                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="email">Email</label>
                      <input type="email" id="email" class="form-control form-control-lg" name="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Please enter a valid email address." required />
                      <div id="emailError" class="text-danger"></div>
                    </div>

                  </div>
                  <div class="col-md-6 pb-2">
                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="WhatsApp_Number">WhatsApp Number</label>
                      <input type="text" id="WhatsApp_Number" class="form-control form-control-lg" name="WhatsApp_Number" pattern="[6-9]\d{9}" title="Please enter a valid WhatsApp number." required />
                      <!-- <label for="family_income" class="form-label label">Please enter income in rupees</label> -->
                      <div id="phoneError" class="text-danger"></div>
                    </div>

                  </div>
                </div>
                <div class="row row1 row2" style="padding:0 0 20px 0;">
                  <div class="col-md-6 pb-2">
                    <div class="form-outline">
                        <label class="form-label select-label font-weight-bold" for="Father_Occupation">Father's Occupation</label>
                        <select class="form-control-lg form-control" id="Father_Occupation" name="Father_Occupation">
                            <option value="" disabled selected>Select Father's Occupation</option>
                            <option value="Government Employee">Government Employee</option>
                            <option value="Private Sector Employee">Private Sector Employee</option>
                            <option value="Self Employed">Self Employed</option>
                            <option value="Unemployed">Unemployed</option>
                            <option value="Other">Other</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                </div>
                
                  <div class="col-md-6">
                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="family_income">Family Income</label>
                      <!-- <input type="number" id="family_income" class="form-control form-control-lg" name="Family_income"
                        required /> -->
                        <select class="form-control-lg form-control" id="family_income" name="Family_income">
                          <option value="" disabled selected>Income Range (in Lakhs)</option>
                          <option value="0-1">0 - 1 Lakhs</option>
                          <option value="1-3">1 - 3 Lakhs</option>
                          <option value="3-5">3 - 5 Lakhs</option>
                          <option value="5+">5+ Lakhs</option>
                      </select>
                      <!-- <label for="family_income" class="form-label label">Please enter income in rupees</label> -->

                    </div>
                  </div>
                  <div class="col-md-6">

                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="state">State</label>
                      <select onchange="print_city('city', this.selectedIndex);" id="state" name="State"
                        class="form-control form-control-lg" required></select>
                    </div>

                  </div>


                </div>
                <div class="row row1 row2" style="padding: 0 0 20px 0;">
                  <div class="col-md-6">

                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="city">City</label>
                      <select id="city" class="form-control form-control-lg" name="City" required></select>
                      <script language="javascript">print_state("state");</script>
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="form-outline">
                      <label class="form-label select-label font-weight-bold" for="12th_branch">12th Stream</label>
                      <select class="form-control-lg form-control" id="12th_branch" name="branch_12"
                        onchange="handleRadioVisibility()">
                        <option value="" disabled selected>Select an option</option>
                        <option value="PCM">PCM</option>
                        <option value="PCB">PCB</option>
                        <option value="Commerce">Commerce</option>
                        <option value="Arts">Arts</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 pb-2">
                    <div class="form-outline">
                        <label class="form-label font-weight-bold" for="12th_marks">
                            12th Percentage
                            <small class="text-muted">(If Awaited, Please Enter 0)</small>
                        </label>
                        <input type="number" id="12th_marks" max="100" min="0" class="form-control form-control-lg" name="per_12" required/>
                    </div>
                </div>
                
                </div>

                <!-- <div class="row row1" id="diploma1">
                  <div class="col-md-6 mb-4">

                    <label class="form-label select-label font-weight-bold" for="branch">Diploma Branch</label>
                    <select class="form-control-lg form-control" id="branch" name="diploma_branch">
                      <option value="" disabled selected>Select an option</option>
                      <option value="Management">Management</option>
                      <option value="Medical">Medical</option>
                      <option value="Engineering">Engineering</option>
                      <option value="Arts">Arts</option>
                    </select>

                  </div>
                  <br>

                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline row3">
                      <label class="form-label font-weight-bold " for="diploma">Diploma Percentage</label>
                      <input type="number" id="diploma" max="100" min="0" class="form-control form-control-lg"
                        name="diploma_per" />


                    </div>

                  </div>
                </div> -->
                <div class="row row1 row2" style="padding:0 0 20px 0;">

                  <div class="col-md-6">
                    <div class="form-outline">
                      <label class="form-label select-label font-weight-bold" for="exam">Select Exam</label>
                      <select class="form-control-lg form-control" id="exam" name="Exam"
                        onclick="handleRadioVisibility1()">
                        <option value="" disabled selected>Select an option</option>
                        <option value="JEE">JEE</option>
                        <option value="NEET">NEET</option>
                        <option value="LNCT_CET">LNCT CET</option>
                        <option value="CLAT">CLAT</option>
                        <option value="CUET">CUET</option>
                        <option value="Nonee">None</option>
                      </select>
                    </div>
                  </div>
                  <div></div>
                  <div class="col-md-6 pb-2" style="display: none;" id="jee">
                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="jee_rank">JEE Rank</label>
                      <input type="number" id="jee_rank" class="form-control form-control-lg" name="jee_rank" />
                      <label for="jee_rank" class="form-label label">Please enter rank in numbers</label>

                    </div>

                  </div>
                  <div class="col-md-6 pb-2" style="display: none;" id="neet">
                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="neet_rank">NEET Rank</label>
                      <input type="number" id="neet_rank" class="form-control form-control-lg" name="neet_rank" />
                      <label for="neet_rank" class="form-label label">Please enter rank in numbers</label>

                    </div>

                  </div>
                  <div class="col-md-6 pb-2" style="display: none;" id="lnct-cet">
                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="lnct-cet">LNCT-CET Rank</label>
                      <input type="number" id="lnct-cet" class="form-control form-control-lg" name="lnct-cet" />
                      <label for="lnct-cet" class="form-label label">Please enter rank in numbers</label>

                    </div>

                  </div>
                  <div class="col-md-6 pb-2" style="display: none;" id="clat">
                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="clat_rank">CLAT Rank</label>
                      <input type="number" id="clat_rank" class="form-control form-control-lg" name="clat_rank" />
                      <label for="clat_rank" class="form-label label">Please enter rank in numbers</label>

                    </div>

                  </div>
                  <div class="col-md-6 pb-2" style="display: none;" id="cuet">
                    <div class="form-outline">
                      <label class="form-label font-weight-bold" for="cuet_rank">CUET Rank</label>
                      <input type="number" id="cuet_rank" class="form-control form-control-lg" name="cuet_rank" />
                      <label for="cuet_rank" class="form-label label">Please enter rank in numbers</label>

                    </div>

                  </div>

                </div>
                <p class="help-text">Please select a stream and enter your 12th percentage to enable the interests selection.</p>

                <div class="row" id="interest">
                  <div class="col-12">
                    <label for="interest" class="interest font-weight-bold">Interests</label required><br>
                    <div class="interest-container">

                      <div class="grid-item">
                        <input class="radio-label" type="radio" id="technology" name="interests" value="technology"
                        onclick="toggleButton()" title="Please select this option">
                        <label for="technology" style="cursor: pointer;">
                          <img src="../static/images/touchscreen.png" alt="" style="height:17px;" id="tech">
                          Technical/Engineering</label>
                      </div>
                      <div class="grid-item">
                        <input class="radio-label" type="radio" id="administration" name="interests"
                        value="administration" onclick="toggleButton()" title="Please select this option">
                        <label for="administration" style="cursor: pointer;">
                          <img src="../static/images/touchscreen.png" alt="" style="height:17px;" id="ad">
                          Business Administration </label>
                      </div>
                      <div class="grid-item">
                        <input class="radio-label" type="radio" id="finance-accounting" name="interests"
                        value="finance-accounting" onclick="toggleButton()" title="Please select this option">
                        <label for="finance-accounting" style="cursor: pointer;">
                          <img src="../static/images/touchscreen.png" alt="" style="height:17px;" id="F&A">
                          Finance & Accounting</label><br>
                      </div>
                      <div class="grid-item">
                        <input class="radio-label" type="radio" id="computer-application" name="interests"
                        value="computer-application" onclick="toggleButton()" title="Please select this option">
                        <label for="computer-application" style="cursor: pointer;">
                          <img src="../static/images/touchscreen.png" alt="" style="height:17px;" id="CA">
                          Computer Application</label>
                      </div>
                      <div class="grid-item">
                        <input class="radio-label" type="radio" id="medical/pharmacy" name="interests" value="medical/pharmacy"
                        onclick="toggleButton()" title="Please select this option">
                        <label for="medical/pharmacy" style="cursor: pointer;">
                          <img src="../static/images/touchscreen.png" alt="" style="height:17px;" id="M&P">
                          Medical/Pharmacy</label>
                      </div>
                      <div class="grid-item">
                        <input class="radio-label" type="radio" id="paramedical" name="interests" value="paramedical"
                        onclick="toggleButton()" title="Please select this option">
                        <label for="paramedical" style="cursor: pointer;">
                          <img src="../static/images/touchscreen.png" alt="" style="height:17px;" id="PA">
                          Paramedical</label>
                      </div>
                      <div class="grid-item">
                        <input class="radio-label" type="radio" id="agriculture" name="interests" value="agriculture"
                        onclick="toggleButton()" title="Please select this option">
                        <label for="agriculture" style="cursor: pointer;">
                          <img src="../static/images/touchscreen.png" alt="" style="height:17px;" id="Ag">
                          Agriculture</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="display: none; margin-top: 50px;" id="frame_tech">
                  <div class="col-12">

                    <input class="radio-label" type="radio" id="prev_t" name="interests" value="prev" style="opacity: 0;"
                      onclick="toggleButton()">
                    <label for="prev_t" class="btn-change-course">
                      <img src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="back arrow" style="height: 20px; width: 20px; margin-right: 3px;">Change Course</label>
                    <iframe src="/technology" frameborder="1" id="frame-technology" width="100%"></iframe>

                  </div>
                </div>
                <div class="row" style="display: none; margin-top:50px;" id="frame_admin">
                  <div class="col-12">
                    <input class="radio-label" type="radio" id="prev_a" name="interests" value="prev" style="opacity: 0;"
                    onclick="toggleButton()">
                    <label for="prev_a" class="btn-change-course">
                      <img src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="back arrow" style="height: 20px; width: 20px; margin-right: 3px;">Change Course</label>
                    <iframe src="/administration" frameborder="1" id="frame-administration" width="100%"></iframe>

                  </div>
                </div>
                <div class="row" style="display: none; margin-top:50px;" id="frame_finance">
                  <div class="col-12">
                    <input class="radio-label" type="radio" id="prev_f" name="interests" value="prev"
                    style="opacity: 0;"
                    onclick="toggleButton()">
                    <label for="prev_f" class="btn-change-course">
                      <img src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="back arrow" style="height: 20px; width: 20px; margin-right: 3px;">Change Course</label>
                    <iframe src="/finance" frameborder="1" id="frame-finance-accounting" width="100%"></iframe>

                  </div>
                </div>
                <div class="row" style="display: none; margin-top:50px ;" id="frame_computer">
                  <div class="col-12">
                    <input class="radio-label" type="radio" id="prev_c" name="interests" value="prev"
                    style="opacity: 0;"
                    onclick="toggleButton()">
                    <label for="prev_c" class="btn-change-course">
                      <img src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="back arrow" style="height: 20px; width: 20px; margin-right: 3px;">Change Course</label>
                    <iframe src="/computer_app" frameborder="1" id="frame-computer-application" width="100%"></iframe>

                  </div>
                </div>
                <div class="row" style="display: none; margin-top:50px;" id="frame_pharma">
                  <div class="col-12">
                    <input class="radio-label" type="radio" id="prev_p" name="interests" value="prev"
                    style="opacity: 0;"
                    onclick="toggleButton()">
                    <label for="prev_p" class="btn-change-course">
                      <img src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="back arrow" style="height: 20px; width: 20px; margin-right: 3px;">Change Course</label>                    
                    <iframe src="/medical/pharmacy" frameborder="1" id="frame-medical/pharmacy" width="100%"></iframe>

                  </div>
                </div>
                <div class="row" style="display: none; margin-top:50px;" id="frame_para">
                  <div class="col-12">
                    <input class="radio-label" type="radio" id="prev_pa" name="interests" value="prev"
                    style="opacity: 0;"
                    onclick="toggleButton()">
                    <label for="prev_pa" class="btn-change-course">
                      <img src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="back arrow" style="height: 20px; width: 20px; margin-right: 3px;">Change Course</label>
                    <iframe src="/paramedical" frameborder="1" id="frame-paramedical" width="100%"></iframe>

                  </div>
                </div>
                <div class="row" style="display: none; margin-top:50px;" id="frame_agri">
                  <div class="col-12">
                    <input class="radio-label" type="radio" id="prev_ag" name="interests" value="prev"
                    style="opacity: 0;"
                    onclick="toggleButton()">
                    <label for="prev_ag" class="btn-change-course">
                      <img src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="back arrow" style="height: 20px; width: 20px; margin-right: 3px;">Change Course</label>
                    <iframe src="/agriculture" frameborder="1" id="frame-agriculture" width="100%"></iframe>

                  </div>
                </div>

                <br>
                <label class="label">Share your preferences to tailor recommendations, finding the best education fit
                  aligned with your goals.</label>
                <br>

                <div class="mt-4-pt-2">
                  <input class="btn-btn-primary-btn-lg" type="submit" value="Submit" />
                </div>
                <input type="hidden" id="selected-interests" name="selected_interests" value="selected_interests">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 <script>
  document.getElementById("fullName").addEventListener("input", function() {
      validateName(this.value);
  });

  document.getElementById("email").addEventListener("input", function() {
      validateEmail(this.value);
  });

  document.getElementById("WhatsApp_Number").addEventListener("input", function() {
      validatePhoneNumber(this.value);
  });

  function validateName(name) {
      var nameError = document.getElementById("nameError");
      if (/^\D+$/.test(name)) {
          nameError.textContent = ""; // Clear error message if name is valid
      } else {
          nameError.textContent = "Name should not contain digits"; // Display error message if name contains digits
      }
  }

  function validateEmail(email) {
      var emailError = document.getElementById("emailError");
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
          emailError.textContent = ""; // Clear error message if email is valid
      } else {
          emailError.textContent = "Invalid email address"; // Display error message if email is invalid
      }
  }

  function validatePhoneNumber(phoneNumber) {
      var phoneError = document.getElementById("phoneError");
      var phoneno = /^[6-9]\d{9}$/;
      if (phoneno.test(phoneNumber)) {
          phoneError.textContent = ""; // Clear error message if phone number is valid
      } else {
          phoneError.textContent = "Phone number must be 10 digits and start with 6/7/8/9"; // Display error message if phone number is invalid
      }
  }
</script>
  <script>
    document.getElementById("form").addEventListener("submit", function (event) {
      event.preventDefault();
      // Get the selected interest radio button
      var selectedInterest = document.querySelector('input[name="interests"]:checked');

      // Check if any interest radio button is selected
      if (!selectedInterest) {
          alert("Please select your course interest.");
          return; // Prevent form submission
      }
      // Get the ID of the selected radio button
      var crs = document.querySelector('input[name="interests"]:checked').id;

      // Construct the iframe ID based on the selected radio button's ID
      var iframeID = "frame-" + crs;

      // Get the iframe using the constructed ID
      var iframe = document.getElementById(iframeID);
      var iframeDocument = iframe.contentWindow.document;
      var selectedCheckboxes = iframeDocument.querySelectorAll('input[name="interest"]:checked');
      // Check if less than three checkboxes are selected
      if (selectedCheckboxes.length < 3) {
        alert("Please select at least three interests.");
        return; // Prevent form submission
      }
      var selectedInterests = [];
      selectedCheckboxes.forEach(function (checkbox) {
        selectedInterests.push(checkbox.value);
      });

      // Set the value of the hidden input field to the selected interests
      document.getElementById("selected-interests").value = selectedInterests.join(", ");

      // Submit the form programmatically
      document.getElementById("form").submit();
    });
  </script>
  <script>
    var jee = document.getElementById('jee');
    var neet = document.getElementById('neet');
    var lnct_cet = document.getElementById('lnct-cet');
    var clat = document.getElementById('clat');
    var cuet = document.getElementById('cuet');
    function handleRadioVisibility1()
    {
      var value = document.getElementById('exam').value;
      if(value==='JEE')
      {
        jee.style.display = 'grid';
        neet.style.display = lnct_cet.style.display = clat.style.display = cuet.style.display = 'none';
      }
      else if(value == 'NEET')
      {
        neet.style.display = 'grid';
        jee.style.display = lnct_cet.style.display = clat.style.display = cuet.style.display = 'none';
      }
      else if(value == 'LNCT_CET')
      {
        lnct_cet.style.display = 'grid';
        jee.style.display = neet.style.display = clat.style.display = cuet.style.display = 'none';
      }
      else if (value == 'CLAT')
      {
        clat.style.display = 'grid';
        neet.style.display = lnct_cet.style.display = jee.style.display = cuet.style.display = 'none';
      }
      else if(value == 'CUET')
      {
        cuet.style.display = 'grid';
        neet.style.display = lnct_cet.style.display = clat.style.display = jee.style.display = 'none';
      }
    }
  </script>
  <script>
    function toggleButton() {
      var Change_Interest = document.getElementById('Change_Interest')
      var frame_tech = document.getElementById('frame_tech')
      var frame_admin = document.getElementById('frame_admin')
      var frame_finance = document.getElementById('frame_finance')
      var frame_computer = document.getElementById('frame_computer')
      var frame_pharma = document.getElementById('frame_pharma')
      var frame_para = document.getElementById('frame_para')
      var frame_agri = document.getElementById('frame_agri')
      var tech = document.getElementById('technology')
      var admin = document.getElementById('administration')
      var finance = document.getElementById('finance-accounting')
      var computer = document.getElementById('computer-application')
      var pharma = document.getElementById('medical/pharmacy')
      var para = document.getElementById('paramedical')
      var agri = document.getElementById('agriculture')
      var interests = document.getElementById('interests')

      if (tech.checked) {
        frame_tech.style.display = 'grid';
        frame_admin.style.display = frame_finance.style.display = frame_computer.style.display = frame_pharma.style.display = frame_agri.style.display = frame_para.style.display  = interest.style.display = 'none';
      }

      else if (admin.checked) {
        frame_admin.style.display = 'grid';
        frame_tech.style.display = frame_finance.style.display = frame_computer.style.display = frame_pharma.style.display = frame_agri.style.display = frame_para.style.display  = interest.style.display = 'none';
      }
      else if (finance.checked) {
        frame_finance.style.display = 'grid';
        frame_admin.style.display = frame_tech.style.display = frame_computer.style.display = frame_pharma.style.display = frame_agri.style.display= frame_para.style.display  = interest.style.display = 'none';
      }
      else if (computer.checked) {
        frame_computer.style.display = 'grid';
        frame_admin.style.display = frame_finance.style.display = frame_tech.style.display = frame_pharma.style.display = frame_agri.style.display= frame_para.style.display  = interest.style.display = 'none';
      }
      else if (pharma.checked) {
        frame_pharma.style.display = 'grid';
        frame_admin.style.display = frame_finance.style.display = frame_computer.style.display = frame_tech.style.display = frame_agri.style.display=frame_para.style.display  = interest.style.display = 'none';
      }
      else if (para.checked) {
        frame_para.style.display = 'grid';
        frame_admin.style.display = frame_finance.style.display = frame_computer.style.display = frame_tech.style.display = frame_agri.style.display = interest.style.display = 'none';
      }
      else if (agri.checked) {
        frame_agri.style.display = 'grid';
        frame_admin.style.display = frame_finance.style.display = frame_computer.style.display = frame_pharma.style.display = frame_tech.style.display =frame_para.style.display = interest.style.display = 'none';
      }
      else {
        interest.style.display = 'grid';
        frame_admin.style.display = frame_finance.style.display = frame_computer.style.display = frame_pharma.style.display = frame_para.style.display = frame_agri.style.display = frame_tech.style.display = 'none';
      }
    }

    // Function to handle visibility of radio buttons based on 12th percentage
    function handleRadioVisibility() {
    var branch_12 = document.getElementById("12th_branch").value;
    var per_12 = parseFloat(document.getElementById("12th_marks").value);
    var exam_selected = document.getElementById("exam").value;
    if(exam_selected === ""){
      document.getElementById("interest").style.display = "none";
    }
    else if(exam_selected !== ""){
      document.getElementById("interest").style.display = "block";
    }
    // Get all radio buttons
    var radioButtons = document.querySelectorAll('input[name="interests"]');

    // Disable all radio buttons by default
    radioButtons.forEach(function (radio) {
        radio.disabled = true;
    });

    // Adjust visibility and disable state based on branch_12 and per_12
    if (per_12 >= 50) {
        if (branch_12 === "PCM") {
          radioButtons.forEach(function (radio) {
          radio.disabled = false;
          });
            document.getElementById("medical/pharmacy").disabled = true;
            document.getElementById("M&P").style.display = "none";
            document.getElementById("PA").style.display = "none";
            document.getElementById("paramedical").disabled = true;
        } if (branch_12 === "PCB") {
          radioButtons.forEach(function (radio) {
          radio.disabled = false;
          });
            document.getElementById("computer-application").disabled = true;
            document.getElementById("CA").style.display = "none";
            document.getElementById("tech").style.display = "none";
            document.getElementById("technology").disabled = true;
        } if (branch_12 === "Commerce") {
            radioButtons.forEach(function (radio) {
            radio.disabled = false;
            });
            document.getElementById("technology").disabled = true;
            document.getElementById("tech").style.display = "none";
            document.getElementById("medical/pharmacy").disabled = true;
            document.getElementById("M&P").style.display = "none";
            document.getElementById("paramedical").disabled = true;
            document.getElementById("PA").style.display = "none";
            document.getElementById("computer-application").disabled = true;
            document.getElementById("CA").style.display = "none";
        } if (branch_12 === "Arts") {
            radioButtons.forEach(function (radio) {
            radio.disabled = false;
            });
            document.getElementById("technology").disabled = true;
            document.getElementById("tech").style.display = "none";
            document.getElementById("ad").style.display = "none";
            document.getElementById("administration").disabled = true;
            document.getElementById("medical/pharmacy").disabled = true;
            document.getElementById("M&P").style.display = "none";
            document.getElementById("PA").style.display = "none";
            document.getElementById("CA").style.display = "none";
            document.getElementById("paramedical").disabled = true;
            document.getElementById("computer-application").disabled = true;
        }
    } if (per_12 >= 50 && per_12 < 60) {
        document.getElementById("computer-application").disabled = true;
        document.getElementById("CA").style.display = "none";
        document.getElementById("PA").style.display = "none";
        document.getElementById("paramedical").disabled = true;
    } if (per_12 >= 45 && per_12 < 50) {
          
        document.getElementById("administration").disabled = true;
        document.getElementById("ad").style.display = "none";
        document.getElementById("tech").style.display = "none";
        document.getElementById("M&P").style.display = "none";
        document.getElementById("technology").disabled = true;
        document.getElementById("medical/pharmacy").disabled = true;
    }
    if(per_12 === 0){
          radioButtons.forEach(function (radio) {
          radio.disabled = false;
          });
    }

}
function hideTextField() {
    var branch_12 = document.getElementById("12th_branch").value;
    var textField = document.getElementById("exam").closest(".col-md-6");

    // Check if the branch is "Arts" or "Commerce"
    if (branch_12 === "Arts" || branch_12 === "Commerce") {
        // Hide the text field
        textField.style.display = "none";
    } else {
        // Show the text field
        textField.style.display = "block";
    }
    var value = document.getElementById('exam').value;
      if(value==='JEE')
      {
        jee.style.display = 'none';
        neet.style.display = clat.style.display = cuet.style.display = 'none';
      }
      else if(value == 'NEET')
      {
        neet.style.display = 'none';
        jee.style.display = clat.style.display = cuet.style.display = 'none';
      }
      else if (value == 'CLAT')
      {
        clat.style.display = 'none';
        neet.style.display = jee.style.display = cuet.style.display = 'none';
      }
      else if(value == 'CUET')
      {
        cuet.style.display = 'none';
        neet.style.display = clat.style.display = jee.style.display = 'none';
      }
}
// Add an event listener to the branch select element
document.getElementById("12th_branch").addEventListener("change", function() {
    // Call the hideTextField function when the branch value changes
    hideTextField();
});

// Add event listener to trigger visibility change on input change
document.getElementById("12th_marks").addEventListener("input", handleRadioVisibility);
// Add event listener to the exam dropdown
document.getElementById("exam").addEventListener("change", handleRadioVisibility);
document.getElementById("12th_branch").addEventListener("change", handleRadioVisibility);
// Initial visibility check
handleRadioVisibility();
function hideExamOptions() {
    var branchValue = document.getElementById("12th_branch").value;
    var examOptions = document.getElementById("exam").getElementsByTagName("option");

    // Iterate through each option and hide options based on the branch value
    for (var i = 0; i < examOptions.length; i++) {
        var optionValue = examOptions[i].value;
        
        if (branchValue === "PCM" && optionValue === "NEET") {
            examOptions[i].style.display = "none";
            
        } else if (branchValue === "PCB" && optionValue === "JEE") {
            examOptions[i].style.display = "none";
        } else {
            examOptions[i].style.display = "block"; // Display all other options
        }
    }
}

// Add an event listener to the 12th branch select element
document.getElementById("12th_branch").addEventListener("change", function() {
    // Call the hideExamOptions function when the branch value changes
    hideExamOptions();
});

// Call hideExamOptions initially to set the initial visibility based on the branch value
hideExamOptions();

  </script>

</body>

</html>
{% endblock %}