{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch Content Recommendation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <style>
        

        #content-container {
            max-width: 80vw;
            margin: 50px auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        
        h2 {
            color: #4285f4;
            border-bottom: 2px solid #4285f4;
            padding-bottom: 5px;
            margin-bottom: 20px;
        }

        p {
            color: #555;
            margin-bottom: 10px;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-top: 10px;
        }

        .subtitle {
            margin-bottom: 20px;
            color: #777;
        }

        .line {
            border-top: 1px solid #ddd;
            margin-bottom: 20px;
        }
        .print-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            font-size: 24px;
        }
        .tooltip {
            position: absolute;
            top: 40px;
            right: 50px;
            background-color: #333;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .print-icon:hover+.tooltip {
            visibility: visible;
            opacity: 1;
        }

        .content {
            display: grid;
            grid-template-columns: 1fr .4fr;
            grid-gap: 20px;
        }

        .content-item {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>

</head>

<body>
    <div id="content-container">
        <h1 style="padding:0 20px;">Branch Content Recommendation</h1>
        <div class="line"></div>

        <div class="subtitle">
            <p><strong>Based on your interest preferences:</strong> '{{ interest }}'</p>
            <p><strong>Your eligible course:</strong> '{{ crs }}'</p>
            <p><strong>Our model recommends you this branch:</strong></p>
        </div>

        <div id="heading"></div>
        <div class="content">
            <div id="branch-content" class="content-item"></div>
            <div id="branch-image" class="content-item"></div>
        </div>
        {{ super() }}
    </div>
    <div class="print-icon" onclick="window.print()">
        <i class="fas fa-print"></i>
        <div class="tooltip">Download</div>
    </div>

    <script>
        var branchContent = {
            "CSE": {
                "content": "BTech CSE is a four-year undergraduate program that focuses on practical and theoretical knowledge of computer hardware and advanced software. The program focuses on computer software and hardware process design and development. It emphasizes the principles of programming and networking while also covering a wide range of topics.CSE prepares students for a variety of roles in technology by combining theory and practical skills, with a focus on problem solving and innovation.",
                "image": "/static/images/cse.jpg"
            },
            "AIML": {
                "content": "B.Tech Computer Science and Engineering (Artificial Intelligence and Machine Learning) helps students to design and develop computer-based applications of varying complexities in emerging areas of Artificial Intelligence and Machine Learning. The curriculum primarily focuses on the foundations of computational mathematics, core components of Computer Science, along with the latest advancements in Artificial Intelligence and Machine Learning like Artificial Intelligence, and Neural Networks Natural Language Processing,Algorithms and Pattern Recognition,Robotics, Automata, and Deep Learning,Sensors, Computer Vision, and Big Data.",
                "image": "/static/images/aiml.jpg"
            },
            "IOT": {
                "content": "The B.Tech in Computer Science in IOT program provides a solid foundation in wireless communication and computer networks, equipping students with skills in sensor network design and network planning for IoT. The program aims to equip students with systematic professional knowledge and practical skills in computer technology communications networks and IT, providing a wide range of applications in the Internet of Things.",
                "image": "/static/images/iot.jpg"
            },
            "AIDS": {
                "content": "Engineering in Artificial Intelligence and Data Science is a four years undergraduate course that deals with core technologies like Machine learning, Artificial Intelligence, Data warehouse, Data mining, Scripting language, Product development, Mathematical modeling. It also involves skills like big data analytics, fuzzy technologies, artificial neural networks, etc.",
                "image": "/static/images/aids.jpg"
            },
            "EC": {
                "content": "Electrical and communication engineering is concerned with the research and application of electrical systems and communication technologies. This field leads the way in technical innovation, from power generation and distribution to the design of wireless communication networks. If you're fascinated by how electricity powers our environment and the possibility of seamless communication, this branch takes you on a thrilling trip through innovation, connectivity, and molding the future of technology.",
                "image": "/static/images/ECE.jpg"
            },
            "EEE": {
                "content": "Electrical engineering is the study and use of electricity, electronics, and electromagnetism, which serves as the foundation for modern technology. From building power systems to inventing cutting-edge electronics, this profession provides limitless chances for innovation and shaping the future. If you're fascinated by how things function, enjoy problem solving, and have a strong interest in technology, electrical engineering is a great fit. It's a dynamic field in which you may help expand renewable energy, telecommunications, automation, and other areas, thereby making a tangible difference in society's progress.",
                "image": "/static/images/ee.jpg"
            },
            "EE": {
                "content": "Electrical and Electronics Engineering is concerned with the study, design, and application of electrical systems, devices, and circuits. It is a vibrant field at the vanguard of technological innovation, powering everything from cellphones to electric grids. If you're fascinated by how electricity works and want to help shape the future of technology, this branch provides several prospects for innovation and impact in fields such as renewable energy, telecommunications, and automation.",
                "image": "/static/images/eeimg.jpg"
            },
            "CE": {
                "content": "Civil engineering forms the foundation of infrastructure development. It includes designing, developing, and maintaining critical infrastructure such as bridges, roads, buildings, and dams. If you want to shape the physical world around you, civil engineering is a satisfying job that allows you to contribute to society's growth while facing real-world difficulties head on. It is a field that combines creativity, innovation, and problem-solving abilities to make long-term contributions to communities.",
                "image": "/static/images/civil.jpg"
            },
            "ME": {
                "content": "Mechanical engineering is a key driver of innovation in a variety of industries, including automotive and aerospace. Its primary focus is on the design, analysis, and manufacture of machinery and mechanical systems. If you're curious about how things operate and enjoy problem solving, mechanical engineering is a dynamic career that allows you to develop cutting-edge technologies, improve energy efficiency, and contribute to developments in sectors such as robots and renewable energy. It's a field that allows you to shape the future via creativity and inventiveness.",
                "image": "/static/images/me.jpg"
            },
            "Cyber Security": {
                "content": "B.Tech in Cyber Security is a 4-year undergraduate degree that focuses on thorough understanding of topics like Intrusion Detection and Prevention Systems, Network Security, Design and Analysis of Algorithms, Cryptography, and Cyber Crime. The course guides the students in maintaining digital records or conducting investigations to determine who was involved in performing prohibited tasks. The B.Tech Course in Cyber Security is ideal for candidates who are interested in learning more about the sophisticated threat intelligence used in the cybersecurity field and who want to enhance their understanding of malware reverse engineering, penetration testing, and cyber forensics.",
                "image": "/static/images/cy.jpg"
            },
            "CSEDS": {
                "content": "The B.Tech (CSE) - Data Science & Analytics program, focuses on interdisciplinary data science and analytics. The program combines data inference, algorithm development, and technology to solve complex problems. It imparts skills in mathematical expertise, technology hacking, and business strategy. The program focuses on using data to generate business value and make smarter decisions.",
                "image": "/static/images/DS.jpg"
            },
            "B.Pharma": {
                "content": "Bachelor of Pharmacy content",
                "image": "/static/images/Bpharma.jpg"
            },
            "BBA": {
                "content": "Bachelor of Business Administration content",
                "image": "/static/images/bba.jpg"
            },
            "Data Analytics": {
                "content": "Data Analytics content",
                "image": "/static/images/DataAnalytics.jpg"
            },
            "BCom": {
                "content": "Bachelor of Commerce content",
                "image": "/static/images/bcom.jpg"
            },
            "Hons(Retail Mgmt & E Comm.)": {
                "content": "Honors in Retail Management and E-Commerce content",
                "image": "/static/images/HonsRetailManagement.jpg"
            },
            "BCA": {
                "content": "Bachelor of Computer Applications content",
                "image": "/static/images/bca.jpg"
            },
            "BSC(Agri)": {
                "content": "Bachelor of Science in Agriculture content",
                "image": "/static/images/bsc.jpg"
            },
            "BCom(Hons)": {
                "content": "Bachelor of Commerce Honors content",
                "image": "/static/images/bcomHons.jpg"
            }
        };

        function loadTopRecommendedBranchContent() {
            var contentDiv = document.getElementById('branch-content');
            var imageDiv = document.getElementById('branch-image');
            var heading = document.getElementById('heading')
            var topRecommendedBranch = "{{ b1 }}"; 

            if (branchContent.hasOwnProperty(topRecommendedBranch)) {
                var branchData = branchContent[topRecommendedBranch];

                // Insert branch content
                heading.innerHTML = `<h2>${topRecommendedBranch}</h2>`
                contentDiv.innerHTML = `<p>${branchData.content}</p>`;

                // Insert branch image if available
                if (branchData.image) {
                    var branchImage = document.createElement('img');
                    branchImage.src = branchData.image;
                    branchImage.alt = topRecommendedBranch;
                    imageDiv.innerHTML = '';
                    imageDiv.appendChild(branchImage);
                } else {
                    imageDiv.innerHTML = '';
                }
            } else {
                contentDiv.innerHTML = "<p>Content not available for the top recommended branch.</p>";
                imageDiv.innerHTML = '';
            }
        }
        window.onload = loadTopRecommendedBranchContent;
    </script>
</body>

</html>

{% endblock %}